In [2]:
import pandas as pd

In [4]:
import numpy as np
dict_data={
    'edad': [10,9,13,14,12,11,12],
    'cm': [115,110,130,155,124,120,124],
    'pais': ['col','mx','col','mx','mx','ch','ch'],
    'genero': ['m','f','f','m','m','m','f'],
    'q1': [5,10,8,np.nan,7,8,3],
    'q2': [7,9,9,8,8,8,9]
}

In [11]:
j=pd.DataFrame(dict_data)

In [12]:
j

   edad   cm pais genero    q1  q2
0    10  115  col      m   5.0   7
1     9  110   mx      f  10.0   9
2    13  130  col      f   8.0   9
3    14  155   mx      m   NaN   8
4    12  124   mx      m   7.0   8
5    11  120   ch      m   8.0   8
6    12  124   ch      f   3.0   9

In [13]:
pd.DataFrame(j)

   edad   cm pais genero    q1  q2
0    10  115  col      m   5.0   7
1     9  110   mx      f  10.0   9
2    13  130  col      f   8.0   9
3    14  155   mx      m   NaN   8
4    12  124   mx      m   7.0   8
5    11  120   ch      m   8.0   8
6    12  124   ch      f   3.0   9

In [15]:
j.columns

Index(['edad', 'cm', 'pais', 'genero', 'q1', 'q2'], dtype='object')

In [17]:
j.values

array([[10, 115, 'col', 'm', 5.0, 7],
       [9, 110, 'mx', 'f', 10.0, 9],
       [13, 130, 'col', 'f', 8.0, 9],
       [14, 155, 'mx', 'm', nan, 8],
       [12, 124, 'mx', 'm', 7.0, 8],
       [11, 120, 'ch', 'm', 8.0, 8],
       [12, 124, 'ch', 'f', 3.0, 9]], dtype=object)

In [21]:
j.loc[0]

edad       10
cm        115
pais      col
genero      m
q1        5.0
q2          7
Name: 0, dtype: object

In [23]:
j.iloc[1,0]

9