In [2]:
import pandas as pd

In [17]:
my_list=[['red','manzanas'],['blue','banano']]

In [18]:
my_dataframe= pd.DataFrame(my_list)

In [19]:
my_dataframe

      0         1
0   red  manzanas
1  blue    banano

In [22]:
dataframe= pd.DataFrame(my_list, columns=['color','fruts'])

In [23]:
dataframe

  color     fruts
0   red  manzanas
1  blue    banano

In [28]:
my_dic={'colors':['black','green','yellow','red','blue'], 'fruts':['aplle','orange','banana','tomatoes','mango']}

In [29]:
dt= pd.DataFrame(my_dic)

In [31]:
dt

   colors     fruts
0   black     aplle
1   green    orange
2  yellow    banana
3     red  tomatoes
4    blue     mango

In [33]:
dt['colors']

0     black
1     green
2    yellow
3       red
4      blue
Name: colors, dtype: object

In [36]:
dt.set_index('colors',inplace=True)

KeyError: "None of ['colors'] are in the columns"