In [80]:
import pandas as pd
import numpy as np

In [93]:
df_po=pd.read_csv('jk10s/poblacion.csv')

In [96]:
df_po['year']

0       2015
1       2015
2       2015
3       2015
4       2015
        ...
1035    2018
1036    2018
1037    2018
1038    2018
1039    2018
Name: year, Length: 1040, dtype: int64

In [97]:
df_po.dtypes

Country     object
year         int64
pop        float64
dtype: object

In [98]:
pd.options.display.float_format='{:,.1f}'.format

In [99]:
df_po.dtypes

Country     object
year         int64
pop        float64
dtype: object

In [100]:
df_po['year']= pd.Categorical(df_po['year'].apply(str))

In [101]:
df_po.dtypes

Country      object
year       category
pop         float64
dtype: object

In [102]:
idc_filtro=df_po['Country'].isin(['Aruba','Colombia'])

In [103]:
idc_filtro

0       False
1       False
2       False
3       False
4       False
        ...
1035    False
1036    False
1037    False
1038    False
1039    False
Name: Country, Length: 1040, dtype: bool

In [104]:
df_sample=df_po[idc_filtro]
df_sample

      Country  year          pop
9       Aruba  2015    104,341.0
42   Colombia  2015 47,520,667.0
269     Aruba  2016    104,872.0
302  Colombia  2016 48,171,392.0
529     Aruba  2017    105,366.0
562  Colombia  2017 48,901,066.0
789     Aruba  2018    105,845.0
822  Colombia  2018 49,648,685.0

In [105]:
df_sample.set_index(['Country','year']).sort_index()

                       pop
Country  year
Aruba    2015    104,341.0
         2016    104,872.0
         2017    105,366.0
         2018    105,845.0
Colombia 2015 47,520,667.0
         2016 48,171,392.0
         2017 48,901,066.0
         2018 49,648,685.0

In [106]:
#df_sample.loc['Colombia']

In [107]:
#df_sample.loc['Colombia',:].loc['2016',:]
#df_sample.loc['Colombia',:].loc['2016',:]

In [110]:
df_sample.xs['Aruba',:]

TypeError: 'method' object is not subscriptable

In [111]:
pd.__version__

'1.4.2'